<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class=" ">
<script>
    var projectPath=""
    var contracts=new Array()
    var contractsName=new Array()
    var reader = new FileReader();//new一个FileReader实例
    reader.onload = function (evt) { //读取完文件之后会回来这里
        var fileString = evt.target.result; // 读取文件内容
        contracts[contracts.length] =fileString;
    }
    function changeProjectPath(){
        projectPath="";
        $("#project-path-input").removeAttr("disabled");
    }
    function getTestProjectFolder(){
        document.getElementById("project-path-input").setAttribute("disabled","disabled");
        $("#contractChoosePanel").html("");
        $.ajax({
            type: 'GET',
            url: '/getTestProfile',
            cache: 'false',
            data: {
                "path": document.getElementById("project-path-input").value
            },
            dataType: 'json',
            //contentType : 'application/x-www-form-urlencoded;charset=UTF-8',
            headers : {
                'Content-Type' : 'application/json;charset=utf-8'
            },
            success: function (result) {
                if(result.toString().length>4&&result.toString().substr(0,4)=="Fail"){
                    projectPath="";
                    $("#project-path-input").removeAttr("disabled");
                    $("#contractChoosePanel").html(result);
                }
                else {
                    projectPath=result[0];
                    document.getElementById("project-path-input").value=result[0];
                    for (var i = 1; i < result.length; i++) {
                        contractsName[contractsName.length]=result[i]
                        var text = "<div class=\"col-md-3\"class=\"contractFile\"style='margin-bottom: 15px;max-width:90%;margin-top: 15px'>\n" +
                            "                                        <div class=\"toggle-switch\" data-ts-color=\"info\">\n" +
                            "                                            <label for=\"ts" + contractsName.length + "\" class=\"contract-label\">" + result[i] + "</label>\n" +
                            "                                            <input class=\"contractFileChoose\"id=\"ts" + contractsName.length + "\" type=\"checkbox\" hidden=\"hidden\">\n" +
                            "                                            <label for=\"ts" + contractsName.length + "\" class=\"ts-helper\"></label>\n" +
                            "                                        </div>\n" +
                            "                                    </div>"
                        $("#contractChoosePanel").append(text);
                    }
                }
            }
        })
    }
    function getContractsFolder(){
        $("#file").trigger("click");

    }
    function getFile() {
        reader.readAsText(document.getElementById("file").files[0])
        contractsName[contractsName.length]=document.getElementById("file").files[0].name;
        var text = "<div class=\"col-md-3\"class=\"contractFile\"style='margin-bottom: 15px;max-width:90%;margin-top: 15px'>\n" +
            "                                        <div class=\"toggle-switch\" data-ts-color=\"info\">\n" +
            "                                            <label for=\"ts" + contracts.length + "\" class=\"contract-label\">" + document.getElementById("file").files[0].name + "</label>\n" +
            "                                            <input class=\"contractFileChoose\"id=\"ts" + contracts.length + "\" type=\"checkbox\" hidden=\"hidden\">\n" +
            "                                            <label for=\"ts" + contracts.length + "\" class=\"ts-helper\"></label>\n" +
            "                                        </div>\n" +
            "                                    </div>"
        $("#contractChoosePanel").append(text);

    }
    function generateMutant() {
        var checkboxs=document.getElementsByClassName("contractFileChoose");
        var testContracts=[];
        var testContractsName=[];
        for (var i=0;i<checkboxs.length;i++){
            if(checkboxs.item(i).checked) {
                testContracts[testContracts.length]=contracts[i];
                testContractsName[testContractsName.length]=contractsName[i];
            }
        }
        var ops=document.getElementsByClassName("typeCheck");
        var types=[]
        for (var i=0;i<ops.length;i++){
            if(ops.item(i).checked) {
                types[types.length] = ops.item(i).id;
            }
        }
        $.ajax({
            type: 'GET',
            url: '/generateMutant',
            cache: 'false',
            data: {
                "contracts": JSON.stringify(testContracts),
                "types": JSON.stringify(types),
                "names": JSON.stringify(testContractsName)
            },
            dataType: 'json',
            //contentType : 'application/x-www-form-urlencoded;charset=UTF-8',
            headers : {
                'Content-Type' : 'application/json;charset=utf-8'
            },
            success: function (result) {
                //$("#temp").html(result);
                var ori="<p>";
                var mut="<p>"
                for(var i=0;i<result[2][0];i++) {
                    ori += result[0][i] + "<br>"
                    mut += result[0][i] + "<br>"
                }
                ori+="<font color='red'>"+result[0][result[2][0]]+"</font> "+ "<br>"
                mut+="<font color='red'>"+result[1][0]+"</font> "+ "<br>"
                if(result[2][0]<result[0].length-1)
                    for(var i=result[2][0]+1;i<result[0].length;i++) {
                        ori += result[0][i] + "<br>"
                        mut += result[0][i] + "<br>"
                    }
                ori+="</p>"
                $("#oriText").html(ori);
                $("#mutText").html(mut);
                $("#tViewer").trigger("click");
            }
        })
    }
    function startMutationTest(){
        $.ajax({
            type: 'GET',
            url: '/generateMutationTest',
            cache: 'false',
            data: {
            },
            dataType: 'json',
            //contentType : 'application/x-www-form-urlencoded;charset=UTF-8',
            headers : {
                'Content-Type' : 'application/json;charset=utf-8'
            },
            success: function (result) {
                $("#tKill").html(result[0])
                $("#tLive").html(result[1])
                $("#tTotal").html(result[2])
                $("#tScore").html(result[3])
            }
        })
    }
</script>
<div class="page-wrapper">

    <div class="main-container">


        <div class="content">

            <div class="row">
                <div class="col-md-12 mb-4">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#mg" role="tab" aria-controls="mg">Mutants Generator</a>
                        </li>

                        <li class="nav-item">
                            <a id="tViewer"class="nav-link" data-toggle="tab" href="#tmv" role="tab" aria-controls="tmv">Traditional mutants viewer</a>
                        </li>

                        <li class="nav-item">
                            <a id="eViewer"class="nav-link" data-toggle="tab" href="#cmv" role="tab" aria-controls="cmv">ESC mutants viewer</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tcr" role="tab" aria-controls="tcr">Test Case Runner</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="mg" role="tabpanel">

                            <div class="row mt-4">

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header bg-light">
                                            Solidity Muation Operators
                                        </div>

                                        <div class="card-body" style="height: 430px">
                                            <div class="row">


                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-header bg-light">
                                                            Traditional
                                                            <div class="toggle-switch" data-ts-color="info"style="float: right">
                                                                all
                                                                <input id="toggle1" type="checkbox" hidden="hidden">
                                                                <label for="toggle1" class="ts-helper"></label>
                                                            </div>

                                                        </div>

                                                        <div class="card-body"style="height: 340px">


                                                            <div class="panel-body" style="height: 300px; overflow-y:scroll">
                                                                <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                <span>
				                             <input id="AOR" title="I am AOR" class="typeCheck" type="checkbox" >
				                            <label for="AOR"title="I am AOR" class="ts-label">AOR</label>

                    </br>
                    <input id="AOI" class="typeCheck" type="checkbox" >
											 <label for="AOI" class="ts-label">AOI</label>

                    </br>
                    <input id="ROR" class="typeCheck" type="checkbox" >
											 <label for="ROR" class="ts-label">ROR</label>

                    </br>
                    <input id="COR" class="typeCheck" type="checkbox" >
											 <label for="COR" class="ts-label">COR</label>

                    </br>
                    <input id="LOR" class="typeCheck" type="checkbox" >
											 <label for="LOR" class="ts-label">LOR</label>

                    </br>
                    <input id="ASR" class="typeCheck" type="checkbox" >
											 <label for="ASR" class="ts-label">ASR</label>

                    </br>
                    <input id="SDL" class="typeCheck" type="checkbox" >
											 <label for="SDL" class="ts-label">SDL</label>

                    </br>
                    <input id="RVR" class="typeCheck" type="checkbox" >
											 <label for="RVR" class="ts-label">RVR</label>

                    </br>
                    <input id="CSC" class="typeCheck" type="checkbox" >
											 <label for="CSC" class="ts-label">CSC</label>

            </span>
                                                                </div>
                                                            </div>




                                                        </div>



                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-header bg-light">
                                                            ESC Aimed
                                                            <div class="toggle-switch" data-ts-color="info"style="float: right">
                                                                all
                                                                <input id="toggle2" type="checkbox" hidden="hidden">
                                                                <label for="toggle2" class="ts-helper"></label>
                                                            </div>
                                                        </div>

                                                        <div class="card-body"style="height: 340px">


                                                            <div class="panel-body" style="height: 300px; overflow-y:scroll">
                                                                <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                <span>
				                              <input id="FSC" class="typeCheck" type="checkbox" >
				                            <label for="FSC" class="ts-label">FSC</label>

                    </br>
                    <input id="FVC" class="typeCheck" type="checkbox" >
											 <label for="FVC" class="ts-label">FVC</label>

                    </br>
                    <input id="DLR" class="typeCheck" type="checkbox" >
											 <label for="DLR" class="ts-label">DLR</label>

                    </br>
                    <input id="VTR" class="typeCheck" type="checkbox" >
												 <label for="VTR" class="ts-label">VTR</label>

                    </br>
                    <input id="PKD" class="typeCheck" type="checkbox" >
											<label for="PKD" class="ts-label">PKD</label>

                    </br>
                    <input id="DKD" class="typeCheck" type="checkbox" >
											<label for="DKD" class="ts-label">DKD</label>

                    </br>
                    <input id="GVC" class="typeCheck" type="checkbox" >
											<label for="GVC" class="ts-label">GVC</label>

                    </br>
                    <input id="MFR" class="typeCheck" type="checkbox" >
											<label for="MFR" class="ts-label">MFR</label>

                    </br>
                    <input id="AVR" class="typeCheck" type="checkbox" >
											<label for="AVR" class="ts-label">AVR</label>

                    </br>
                    <input id="EUR" class="typeCheck" type="checkbox" >
											<label for="EUR" class="ts-label">EUR</label>

                    </br>
                    <input id="TUR" class="typeCheck" type="checkbox" >
											<label for="TUR" class="ts-label">TUR</label>

                    </br>
                    <input id="RSD" class="typeCheck" type="checkbox" >
												<label for="RSD" class="ts-label">RSD</label>

                    </br>
                    <input id="RSC" class="typeCheck" type="checkbox" >
											<label for="RSC" class="ts-label">RSC</label>

                    </br>
                    <input id="ASD" class="typeCheck" type="checkbox" >
												<label for="ASD" class="ts-label">ASD</label>

                    </br>
                    <input id="ASC" class="typeCheck" type="checkbox" >
											<label for="ASC" class="ts-label">ASC</label>





            </span>
                                                                </div>
                                                            </div>





                                                        </div>
                                                    </div>
                                                </div>





                                            </div>







                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">

                                        <div class="card-header bg-light">Truffle Test Project Selector

                                            <input id="project-path-input" class="form-control" style="float:left;margin-top: 10px;" placeholder="Input truffle project path">

                                            <button class="btn btn-rounded btn-primary" style="float: right;margin-top: 10px;margin-left: 10px;" onclick="getTestProjectFolder()">Test Project</button>
                                            <button class="btn btn-rounded btn-primary" style="float: right;margin-top: 10px;" onclick="changeProjectPath()">Change Path</button>
                                            <!--<input type="file" id="file" onchange="getFile()"
                                                   style="display: none"/>-->
                                        </div>
                                        <div id="temp"></div>
                                        <div class="card-body">
                                            <div id="contractChoosePanel" style="height: 270px;overflow: auto">
                                                <!--contractchoose-->
                                                <h2>Help</h2>
                                                <p>Enter the path of Truffle Project to be tested in the input box above, and click "Test Project" to check the project of the path. Only when the path is correct and the test cases are all passed, can the mutants be generated by clicking "Generate" button below.</p>
                                                <p>If you need to change the path of the project, click the "Change Path" button above, and then test the changed path again.</p>
                                            </div>
                                            <button class="btn btn-rounded btn-primary" onclick="generateMutant()" style="margin-right: 5px;">Generate</button>
                                            Note: Only checked Solidity files will be processed to generate mutants.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tmv" role="tabpanel">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header bg-light">
                                        traditional mutants viewer
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="single-select">Select a contract</label>
                                                    <select id="single-select" class="form-control">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="single-select2">Select a function</label>
                                                    <select id="single-select2" class="form-control">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-4"style="max-width:20%">

                                                <div class="card">
                                                    <div class="card-header bg-light">
                                                        Summary

                                                    </div>

                                                    <div class="card-body"style="height: 340px">


                                                        <div class="panel-body" style="height: 300px; overflow-y:scroll">
                                                            <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                <span>
				                            <label for="AOR"title="I am AOR" class="ts-label">AOR</label>

                    </br>

                    <label for="AOI" class="ts-label">AOI</label>

                    </br>

                    <label for="ROR" class="ts-label">ROR</label>

                    </br>

                    <label for="COR" class="ts-label">COR</label>

                    </br>

                    <label for="LOR" class="ts-label">LOR</label>

                    </br>

                    <label for="ASR" class="ts-label">ASR</label>

                    </br>

                    <label for="SDL" class="ts-label">SDL</label>

                    </br>

                    <label for="RVR" class="ts-label">RVR</label>

                    </br>

                    <label for="CSC" class="ts-label">CSC</label>

											 <hr>
				                            <label for="FSC" class="ts-label">FSC</label>

                    </br>

                    <label for="FVC" class="ts-label">FVC</label>

                    </br>

                    <label for="DLR" class="ts-label">DLR</label>

                    </br>

                    <label for="VTR" class="ts-label">VTR</label>

                    </br>

                    <label for="PKD" class="ts-label">PKD</label>

                    </br>

                    <label for="DKD" class="ts-label">DKD</label>

                    </br>

                    <label for="GVC" class="ts-label">GVC</label>

                    </br>

                    <label for="MFR" class="ts-label">MFR</label>

                    </br>

                    <label for="AVR" class="ts-label">AVR</label>

                    </br>

                    <label for="EUR" class="ts-label">EUR</label>

                    </br>

                    <label for="TUR" class="ts-label">TUR</label>

                    </br>

                    <label for="RSD" class="ts-label">RSD</label>

                    </br>

                    <label for="RSC" class="ts-label">RSC</label>

                    </br>

                    <label for="ASD" class="ts-label">ASD</label>

                    </br>

                    <label for="ASC" class="ts-label">ASC</label>





            </span>
                                                            </div>
                                                        </div>





                                                    </div>
                                                </div>


                                            </div>

                                            <div class="col-md-4">
                                                <div class="card-header bg-light">
                                                    Original
                                                </div>


                                                <div id="oriText"class="card-body"style="height: 400px;overflow: auto">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque deleniti dolor dolores doloribus ducimus ea, eveniet facere hic illo illum laborum maiores nemo optio quas quis tenetur totam.
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="card-header bg-light">
                                                    Mutant
                                                </div>

                                                <div id="mutText"class="card-body"style="height: 400px;overflow: auto">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque deleniti dolor dolores doloribus ducimus ea, eveniet facere hic illo illum laborum maiores nemo optio quas quis tenetur totam.
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="cmv" role="tabpanel">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header bg-light">
                                        class mutants viewer
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="single-select">Select a contract</label>
                                                    <select id="single-select" class="form-control">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>





                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-4">

                                                <div class="card">
                                                    <div class="card-header bg-light">
                                                        summary
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>Op</th>
                                                                    <th>#</th>

                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>AO</td>
                                                                    <td >0</td>

                                                                </tr>
                                                                <tr>
                                                                    <td>AO</td>
                                                                    <td >0</td>

                                                                </tr>
                                                                <tr>
                                                                    <td>AO</td>
                                                                    <td >0</td>

                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-4">
                                                <div class="card-header bg-light">
                                                    Original
                                                </div>

                                                <div class="card-body">
                                                    I am original
                                                </div>
                                                <div class="card-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque deleniti dolor dolores doloribus ducimus ea, eveniet facere hic illo illum laborum maiores nemo optio quas quis tenetur totam.
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="card-header bg-light">
                                                    Mutant
                                                </div>

                                                <div class="card-body">
                                                    I am mutants
                                                </div>
                                                <div class="card-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque deleniti dolor dolores doloribus ducimus ea, eveniet facere hic illo illum laborum maiores nemo optio quas quis tenetur totam.
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tcr" role="tabpanel">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header bg-light">
                                        Test Case Runner
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h2> Help</h2>
                                                <br>
                                                <p>You can choose the types of Mutants to test.</p>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">


                                                    <label><input name="Fruit" type="radio" value="">Execute Only ESC mutants</label>
                                                    <br>
                                                    <label><input name="Fruit" type="radio" value="">Execute Only traditional mutants </label>
                                                    <br>
                                                    <label><input name="Fruit" type="radio" value="">Execute All mutants </label>
                                                    <br>
                                                    <button style="float:left;margin-top:5px;width:60px"  class="btn btn-rounded btn-primary">Output</button>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    Time-Out
                                                    <input id="" class="form-control"style="float: right" value="10">
                                                    <br>
                                                    Use the default 8555 port <div class="toggle-switch" data-ts-color="info"style="float: right">

                                                    <input id="toggle_port" type="checkbox" hidden="hidden">
                                                    <label for="toggle_port" class="ts-helper"></label>
                                                </div>
                                                    <br>
                                                    <button style="float:right;margin-top:5px;width:60px" onclick="startMutationTest()" class="btn btn-rounded btn-primary">Run</button>
                                                </div>
                                            </div>





                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-md-3">

                                                <div class="card">
                                                    <div class="card-header bg-light">
                                                        Summary

                                                    </div>

                                                    <div class="card-body"style="height: 600px">


                                                        <div class="panel-body" style="height: 500px; overflow-y:scroll">
                                                            <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                <span>
				                            <label for="AOR"title="I am AOR" class="ts-label">AOR</label>

                    </br>

                    <label for="AOI" class="ts-label">AOI</label>

                    </br>

                    <label for="ROR" class="ts-label">ROR</label>

                    </br>

                    <label for="COR" class="ts-label">COR</label>

                    </br>

                    <label for="LOR" class="ts-label">LOR</label>

                    </br>

                    <label for="ASR" class="ts-label">ASR</label>

                    </br>

                    <label for="SDL" class="ts-label">SDL</label>

                    </br>

                    <label for="RVR" class="ts-label">RVR</label>

                    </br>

                    <label for="CSC" class="ts-label">CSC</label>

											 <hr>
				                            <label for="FSC" class="ts-label">FSC</label>

                    </br>

                    <label for="FVC" class="ts-label">FVC</label>

                    </br>

                    <label for="DLR" class="ts-label">DLR</label>

                    </br>

                    <label for="VTR" class="ts-label">VTR</label>

                    </br>

                    <label for="PKD" class="ts-label">PKD</label>

                    </br>

                    <label for="DKD" class="ts-label">DKD</label>

                    </br>

                    <label for="GVC" class="ts-label">GVC</label>

                    </br>

                    <label for="MFR" class="ts-label">MFR</label>

                    </br>

                    <label for="AVR" class="ts-label">AVR</label>

                    </br>

                    <label for="EUR" class="ts-label">EUR</label>

                    </br>

                    <label for="TUR" class="ts-label">TUR</label>

                    </br>

                    <label for="RSD" class="ts-label">RSD</label>

                    </br>

                    <label for="RSC" class="ts-label">RSC</label>

                    </br>

                    <label for="ASD" class="ts-label">ASD</label>

                    </br>

                    <label for="ASC" class="ts-label">ASC</label>





            </span>
                                                            </div>
                                                        </div>





                                                    </div>
                                                </div>

                                            </div>


                                            <div class="col-md-9">
                                                <div class="card">


                                                    <div class="card-body">
                                                        <div class="row">




                                                            <div class="col-md-9">

                                                                <div class="card">
                                                                    <div class="card-header bg-light">
                                                                        Traditional Mutants Result
                                                                    </div>

                                                                    <div class="card-body">

                                                                        <div class="table-responsive">
                                                                            <table class="table table-hover">

                                                                                <tbody>
                                                                                <tr>
                                                                                    <td>Live Mutants#</td>
                                                                                    <td id="tLive" >0</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Killed Mutants#</td>
                                                                                    <td id="tKill">0</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Total Mutants#</td>
                                                                                    <td id="tTotal">0</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Mutant Score</td>
                                                                                    <td id="tScore">0</td>

                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>








                                                                    </div>
                                                                </div>

                                                            </div>








                                                        </div>




                                                    </div>
                                                    <div class="row">

                                                        <div class="col-md-4">
                                                            <div class="card">
                                                                <div class="card-header bg-light">
                                                                    Live
                                                                </div>

                                                                <div class="card-body">


                                                                    <div class="panel-body" style="height: 200px; overflow-y:scroll">
                                                                        <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                              <span>
				                            <label for="AOR"title="I am AOR" class="ts-label">AOR</label>

                                  </br>

                                  <label for="AOI" class="ts-label">AOI</label>

                                  </br>

                                  <label for="ROR" class="ts-label">ROR</label>

                                  </br>

                                  <label for="COR" class="ts-label">COR</label>

                                  </br>

                                  <label for="LOR" class="ts-label">LOR</label>

                                  </br>

                                  <label for="ASR" class="ts-label">ASR</label>

                                  </br>

                                  <label for="SDL" class="ts-label">SDL</label>

                                  </br>

                                  <label for="RVR" class="ts-label">RVR</label>

                                  </br>

                                  <label for="CSC" class="ts-label">CSC</label>

											 <hr>
				                            <label for="FSC" class="ts-label">FSC</label>

                                  </br>

                                  <label for="FVC" class="ts-label">FVC</label>

                                  </br>

                                  <label for="DLR" class="ts-label">DLR</label>

                                  </br>

                                  <label for="VTR" class="ts-label">VTR</label>

                                  </br>

                                  <label for="PKD" class="ts-label">PKD</label>

                                  </br>

                                  <label for="DKD" class="ts-label">DKD</label>

                                  </br>

                                  <label for="GVC" class="ts-label">GVC</label>

                                  </br>

                                  <label for="MFR" class="ts-label">MFR</label>

                                  </br>

                                  <label for="AVR" class="ts-label">AVR</label>

                                  </br>

                                  <label for="EUR" class="ts-label">EUR</label>

                                  </br>

                                  <label for="TUR" class="ts-label">TUR</label>

                                  </br>

                                  <label for="RSD" class="ts-label">RSD</label>

                                  </br>

                                  <label for="RSC" class="ts-label">RSC</label>

                                  </br>

                                  <label for="ASD" class="ts-label">ASD</label>

                                  </br>

                                  <label for="ASC" class="ts-label">ASC</label>





            </span>
                                                                        </div>
                                                                    </div>





                                                                </div>
                                                            </div>


                                                        </div>



                                                        <div class="col-md-4">
                                                            <div class="card">
                                                                <div class="card-header bg-light">
                                                                    Killed
                                                                </div>

                                                                <div class="card-body">


                                                                    <div class="panel-body" style="height: 200px; overflow-y:scroll">
                                                                        <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                              <span>
				                            <label for="AOR"title="I am AOR" class="ts-label">AOR</label>

                                  </br>

                                  <label for="AOI" class="ts-label">AOI</label>

                                  </br>

                                  <label for="ROR" class="ts-label">ROR</label>

                                  </br>

                                  <label for="COR" class="ts-label">COR</label>

                                  </br>

                                  <label for="LOR" class="ts-label">LOR</label>

                                  </br>

                                  <label for="ASR" class="ts-label">ASR</label>

                                  </br>

                                  <label for="SDL" class="ts-label">SDL</label>

                                  </br>

                                  <label for="RVR" class="ts-label">RVR</label>

                                  </br>

                                  <label for="CSC" class="ts-label">CSC</label>

											 <hr>
				                            <label for="FSC" class="ts-label">FSC</label>

                                  </br>

                                  <label for="FVC" class="ts-label">FVC</label>

                                  </br>

                                  <label for="DLR" class="ts-label">DLR</label>

                                  </br>

                                  <label for="VTR" class="ts-label">VTR</label>

                                  </br>

                                  <label for="PKD" class="ts-label">PKD</label>

                                  </br>

                                  <label for="DKD" class="ts-label">DKD</label>

                                  </br>

                                  <label for="GVC" class="ts-label">GVC</label>

                                  </br>

                                  <label for="MFR" class="ts-label">MFR</label>

                                  </br>

                                  <label for="AVR" class="ts-label">AVR</label>

                                  </br>

                                  <label for="EUR" class="ts-label">EUR</label>

                                  </br>

                                  <label for="TUR" class="ts-label">TUR</label>

                                  </br>

                                  <label for="RSD" class="ts-label">RSD</label>

                                  </br>

                                  <label for="RSC" class="ts-label">RSC</label>

                                  </br>

                                  <label for="ASD" class="ts-label">ASD</label>

                                  </br>

                                  <label for="ASC" class="ts-label">ASC</label>





            </span>
                                                                        </div>
                                                                    </div>





                                                                </div>
                                                            </div>


                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="card">
                                                                <div class="card-header bg-light">
                                                                    Compilation Failed
                                                                </div>

                                                                <div class="card-body">


                                                                    <div class="panel-body" style="height: 200px; overflow-y:scroll">
                                                                        <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                              <span>
				                            <label for="AOR"title="I am AOR" class="ts-label">AOR</label>

                                  </br>

                                  <label for="AOI" class="ts-label">AOI</label>

                                  </br>

                                  <label for="ROR" class="ts-label">ROR</label>

                                  </br>

                                  <label for="COR" class="ts-label">COR</label>

                                  </br>

                                  <label for="LOR" class="ts-label">LOR</label>

                                  </br>

                                  <label for="ASR" class="ts-label">ASR</label>

                                  </br>

                                  <label for="SDL" class="ts-label">SDL</label>

                                  </br>

                                  <label for="RVR" class="ts-label">RVR</label>

                                  </br>

                                  <label for="CSC" class="ts-label">CSC</label>

											 <hr>
				                            <label for="FSC" class="ts-label">FSC</label>

                                  </br>

                                  <label for="FVC" class="ts-label">FVC</label>

                                  </br>

                                  <label for="DLR" class="ts-label">DLR</label>

                                  </br>

                                  <label for="VTR" class="ts-label">VTR</label>

                                  </br>

                                  <label for="PKD" class="ts-label">PKD</label>

                                  </br>

                                  <label for="DKD" class="ts-label">DKD</label>

                                  </br>

                                  <label for="GVC" class="ts-label">GVC</label>

                                  </br>

                                  <label for="MFR" class="ts-label">MFR</label>

                                  </br>

                                  <label for="AVR" class="ts-label">AVR</label>

                                  </br>

                                  <label for="EUR" class="ts-label">EUR</label>

                                  </br>

                                  <label for="TUR" class="ts-label">TUR</label>

                                  </br>

                                  <label for="RSD" class="ts-label">RSD</label>

                                  </br>

                                  <label for="RSC" class="ts-label">RSC</label>

                                  </br>

                                  <label for="ASD" class="ts-label">ASD</label>

                                  </br>

                                  <label for="ASC" class="ts-label">ASC</label>





            </span>
                                                                        </div>
                                                                    </div>





                                                                </div>
                                                            </div>


                                                        </div>


                                                    </div>


                                                </div>







                                            </div>
                                        </div>
                                    </div>



                                </div>



                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
</div>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/popper.js/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/js/carbon.js}"></script>
<script th:src="@{/js/demo.js}"></script>

</body>
</html>
